// Place all the styles related to the Todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colors
$header-color: #B5C9D4;
$nav-color: #FD7E47;
$body-background-color: #C2C3BE;
$link-color: #476C4D;

// Font
$font: Helvetica;

body {
  background-color: $body-background-color;
}

header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: $font;
  height: 90px;
  background-color: $header-color;
  padding-top: 20px;
}

nav {
  height: 20px;
  background-color: $nav-color;
}

h3 {
  display: inline-block;
  margin-left: 35px;
  margin-right: 15px;
}

h2 {
    font-family: $font;
  }

p {
  font-family: $font;

  span.entry {
    margin-left: 20px;
  }

  span.status {
    margin-left: 20px;
  }
}

a {
  color: $link-color;
  font-family: $font;
  text-decoration: none;
}

footer {
  text-align: center;
  font-family: $font;
  font-size: 15px;
}
