<ul>
  <% todo.each do |entry| %>
    <li>
    <p><strong><%= entry.id %></strong>
    <span class= 'entry'><%= entry.entry %></span>
    <% status = entry.completed ? "Completed" : "Unfinished" %>
    <span class= 'status'><%= status %></span>
    </p>
    </li>
    <% end %>
</ul>
