<ul>
  <% todo.each do |entry| %>
    <li>
    <p><%= entry.id %>
    <%= entry.entry %>
    <% status = entry.completed ? "Completed" : "Unfinished" %>
    <%= status %>
    </p>
    </li>
    <% end %>
</ul>
