<header>This Todo</header>
<%= render partial: 'nav.html.erb' %>
<ul>
  <li>
    <p><%= todo.id %>
    <%= todo.entry %>
    <% status = todo.completed ? "Completed" : "Unfinished" %>
    <%= status %>
    </p>
  </li>
</ul>
<footer>Powered by SomeGuy</footer>
